.body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: 103vh;
  /* background: #2980b9;
  background: -webkit-linear-gradient(to left, #ffffff, #6dd5fa, #2980b9);
  background: linear-gradient(to left, #ffffff, #6dd5fa, #2980b9); */
  /* background: #373b44; 
  background: -webkit-linear-gradient(
    to right,
    #4286f4,
    #373b44
  ); 
  background: linear-gradient(
    to right,
    #4286f4,
    #373b44
  );  */
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(64, 88, 189, 1) 0%,
    rgba(45, 220, 255, 1) 100%
  );
}
.card-container {
  display: flex;
  /* border: 2px solid black; */
  width: 50vw;
  justify-content: center;
  margin: 40px auto;
  height: 80vh;
  background-color: white;
  border-radius: 10px;
}
